// $blue: #3c81df;
// $turquoise: #00c0ef;
// $red: #f56954;
// $green: #6cc788;
// $orange: #f2a654;
// $purple: #926dde;
// $yellow: #f39c12;
//

// import the entry file
@import "~vue-blu/src/scss/blu";


// TODO LAYOUT GERAL DA APLICACAO EM CSS AQUI


 // TJDFT

//
// .notification{
//   background-color: #efefef !important;
// }
//
// .nav {
//   background-color: #efefef !important;
// }
//
// .cover , img, .carta-mini, .notification, .title, .column{
//   opacity: 0.4 !important;
// }
//
// .tabs li.is-active a
// {
//   color: #c0c0c0 !important;
// }

// TJDFT


a{
  color: #3c81df;
}

.nav {
  background-color: #3c81df;
}

a.nav-item {
  color: white;
  font-size: 1.3rem;
}

.tabs td a{
  justify-content: inherit;
  border-bottom: none;
  color: #3c81df;
}


.tabs li span{
  font-size: 20pt;
  font-weight: 700;
}

.tabs li a{
  color: $grey-lighter;
}

.tabs li.is-active a
{
  color: #616161;
  border-bottom-color: #616161;
}

.faeria {
    color: black;
    font-weight: 600;
    font-size: 12pt;
    padding-top: 7px;
    display: inline-block;
    background-image: url("/static/images/faeria-ball.png");
    width: 35px;
    height: 35px;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
}
